/**
* Importación de fuenes
**/
@font-face {
    font-family: Urbanist;
    src: url("../Fonts/Urbanist/Urbanist-Regular.ttf");
}
@font-face {
    font-family: Gotu;
    src: url("../Fonts/Gotu/Gotu-Regular.ttf");
}

/**
* Estilos generales
**/
* {
    margin: 0; 
    padding: 0;      
    background-color: #090d00;
}
















#home {
    font-family: Gotu;
}

#aboutme {
    font-family: Gotu;
}

#contact {
    font-family: Gotu;
}
