/**
* Importación de fuenes
**/
@font-face {
    font-family: Urbanist;
    src: url("../Fonts/Urbanist/Urbanist-Regular.ttf");
}
@font-face {
    font-family: Gotu;
    src: url("../Fonts/Gotu/Gotu-Regular.ttf");
}

/**
* Estilos generales
**/
* {
    margin: 0; 
    padding: 0;          
}
body {
    background-color: #090d00 !important;
    font-family: Gotu !important;
    height: 100%;
}

/******* Home ************/
#home {
    text-align: center;
    background-color: rgb(27, 109, 16);
    height: 30em;
}
/******* aboutme *******/
#aboutme {
    text-align: center;
    background-color: rgb(92, 0, 179);
    height: 30em;
}
/******* app ****/
#game {
    text-align: center;
    background-color: rgb(100, 2, 2);
    height: 30em;
}
/******* contact ****/
#contact {
    text-align: center;
    background-color: rgb(122, 107, 7);    
}
